{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    {% for film in  filmsGenresAction %}
    
    <div>
        {{ film.title }}
        <br>
        {% set url = asset('assets/img/posters/'~ film.id ~ '.jpg') %}
        {% if url isnot empty %}
        <img src="{{ asset('assets/img/posters/'~ film.id) }}.jpg" alt="{{ film.title }}">
        {% else %}
        <img src="{{ asset('assets/img/posters/default.jpg') }}" alt="{{ film.title }}">
        {% endif %}
    </div>
    
    {% else %}

    no records found

    {% endfor %}

</div>
{% endblock %}