{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
<script src="{{ asset('assets/js/home.js') }}" defer></script>

<div class="example-wrapper" data-jsFilmFantasy = {{ jsFilmFantasy }}>
    <h1>Hello {{ controller_name }}! ✅</h1>
    <h2>Les meilleurs films {{titreGenre}}</h2>
    <div class="filmContainer">
        {% for film in filmsGenresAction %}
        <a href="{{ path('app_film', {'id': film.id})}}"> 
            <div class="film">
                <div class="filmTitle">
                    {{ film.title }}{{film.id}}
                </div>

                <div class="film img">
                    <img src="{{ asset(film.urlImg) }}" alt="{{ film.title }}">
                </div>
                <div>
                    {{film.genres}}
                </div>


            </div>
        </a>
        {% else %}
        no records found
        {% endfor %}
    </div>
    <h2>Les meilleurs films Fantasy</h2>
    <div class="filmContainer">
        {% for film in filmsGenresFantasy %}
        <a href="">
            <div class="film">
                <div class="filmTitle">
                    {{ film.title }}{{film.id}}
                </div>

                <div class="film img">
                    <img src="{{ asset(film.urlImg) }}" alt="{{ film.title }}">
                </div>
                <div>
                    {{film.genres}}
                </div>


            </div>
        </a>
        {% else %}
        no records found
        {% endfor %}
    </div>
    <h2>Les meilleurs films Horror</h2>
    <div class="filmContainer">
        {% for film in filmsGenresHorror %}
        <a href="">
            <div class="film">
                <div class="filmTitle">
                    {{ film.title }}{{film.id}}
                </div>

                <div class="film img">
                    <img src="{{ asset(film.urlImg) }}" alt="{{ film.title }}">
                </div>
                <div>
                    {{film.genres}}
                </div>


            </div>
        </a>
        {% else %}
        no records found
        {% endfor %}
    </div>
</div>
{% endblock %}